.app {
	text-align: center;
}

.appHeader {
	text-align: center;
	background-color: #ed1d24;
	min-height: 20vh;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.title {
	font-family: 'Marvel', sans-serif;
	font-size: 3em;
	letter-spacing: -0.08em;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
}

@media only screen and (max-width: 420px) {
	.title {
		font-size: 2.5em;
	}
}

main {
	margin-left: auto;
	margin-right: auto;
	padding: 30px 0px;
}

@media screen and (max-width: 1000px) {
	main {
		padding: 20px 20px 0 20px;
	}
}
